footer {
	.menu {
		margin:auto;
		padding:$padding-large $padding;		
		h3 {
			margin-bottom:$margin;
			font-weight:700;
		}
		nav {
			
			a {
				color:inherit;				
				display: block;
				text-decoration: none;
				@include hover {
					text-decoration: underline;
				}
				& + a {
					margin-top:$nudge;
				}
			}
		}
	}
}