footer {
	background:darken($primary, 0%);
	.menu {
		margin:auto;
		padding:$padding-large $padding;		
		h3 {
			margin-bottom:$margin;
			font-weight:700;
		}
		nav {
			display:flex;
			flex-direction:column;
			a {
				color:inherit;				
				display: block;
				text-decoration: none;
				align-self:flex-start;
				@include hover {
					text-decoration: underline;
				}
				& + a {
					margin-top:$nudge;
				}

			}
		}

		.links-to-social-media {
			display:flex;
			margin-top:$margin;
			a {
				background:$body-color;
				color:$constrast-color;
				font-size:1rem;
				width:35px;
				height:35px;
				border-radius:35px;	
				text-align:center;
				line-height:35px;
				& + a {
					margin-left:0.5em;
				}
				@include hover {
					background:rgba($body-color, 0.75);
				}
			}
		}

	}
}