.legal {
	background:darken($primary, 15%);
	padding:$padding;	
	font-size:0.75em;
	> div {
		max-width: $width;
		margin:auto;
		display: flex;
		justify-content: space-between;
		p {
			a {
				text-decoration: none;
				@include hover {
					text-decoration: underline;
				}
				& + a {
					margin-left:$margin;
				}
			}
		}
		@media #{$respond} {
			flex-direction: column;
			text-align: center;	
			p + p {
				margin-top:$margin-small;
			}
		}
	}
}