@media #{$default} {
	.squishy {
		width:100%;				
		z-index: 2;
		position:fixed;
		top:0;
		transition:all $speed ease-in-out;
		> div {
			max-width: $width + $padding*2;
			height:20vh;
			@media #{$tablet} #{$portrait}{
				height:10vh;
			}
			transition: all $speed linear;
			padding:$padding;
			margin:auto;
			display: flex;
			align-items: center;			
			> a:first-child {
				margin-right:auto;
				font-family: $heading-font;
				font-size:60px;
				transition: all $speed linear;
				text-decoration: none;
			}	
			nav {
				a {
					text-decoration: none;
					& + a {
						margin-left:$margin-small;
					}
				}
			}
		}
		&.squish {	
			box-shadow: 0px 0px $padding 0px rgba(0,0,0,0.25);		
			> div {
				height:10vh;
				> a:first-child {
					font-size:30px;
				}
			}
		}
		&.hidden {
			transform: translateY(-100%);
		}
		& + * {
			margin-top:calc(20vh + 44px);
			@media #{$tablet} #{$portrait} {
				margin-top:calc(10vh + 44px);
			}
		}
	}
}

@media #{$respond} {
	.squishy {
		> div {
			padding:$padding;
			> a:first-child {
				font-family: $heading-font;
				font-size:1.8em;
				text-decoration: none;
			}
			nav {
				display: none;
			}
		}
	}
}