.home {

	@import "../_default.scss";



	.component-row {
		margin:auto;
		max-width: $width;		
		& + .component-row {
			margin-top:$margin;
		}

		h1 {
			color:white;
			font-size:2em;
			border-bottom:1px solid white;
			padding-bottom: $padding;
			margin-bottom: $margin;
		}
	}

	.button + .button {
		margin:0 0 0 $margin-small;
		@media #{$respond} {
			margin: $margin-small 0 0 0;
		}
	}

	[class^="row"] {
		> * {		
			min-height:100px;
			background:#fff;
			text-align:center;
			align-content:center;
			justify-content: center;
			overflow:hidden;
			&:before {content:"?";}
			@media #{$mobile} {&:before {content:"mobile";}}
			@media #{$tablet} {&:before {content:"tablet";}}
			@media #{$desktop} {&:before {content:"desktop";}}
			@media #{$mobile} #{$portrait} {&:before {content:"mobile portrait";}}
			@media #{$device} #{$landscape} {&:before {content:"device landscape";}}
			@media #{$tablet} #{$portrait} {&:before {content:"tablet portrait";}}
			@media #{$tablet} #{$landscape} {&:before {content:"tablet landscape";}}
		}
	}

}
