.home {
	@import "partials/_default.scss";
	[class^="row"] {
		> * {
			
			min-height:100px;
			background:#fff;
			text-align:center;
			//line-height:100px;
			align-content:center;
			justify-content: center;
			overflow:hidden;
			&:before {content:"?";}
			@media #{$mobile} {&:before {content:"mobile";}}
			@media #{$tablet} {&:before {content:"tablet";}}
			@media #{$desktop} {&:before {content:"desktop";}}
			@media #{$mobile} #{$portrait} {&:before {content:"mobile portrait";}}
			@media #{$device} #{$landscape} {&:before {content:"device landscape";}}
			@media #{$tablet} #{$portrait} {&:before {content:"tablet portrait";}}
			@media #{$tablet} #{$landscape} {&:before {content:"tablet landscape";}}
		
		}
	}

	.component-row {
		& + .component-row {
			margin-top:$margin;
		}

		h1 {
			color:white;
			font-size:2em;
			border-bottom:1px solid white;
			padding-bottom: $padding;
			margin-bottom: $margin;
		}
	}
}

main > * {
	margin:auto;
	max-width: $width;
}