section {
	&.full {
		padding:$padding-large;
		height:calc(80vh - 44px);
		display:flex;
		justify-content: center;
		align-items:center;
		@media #{$tablet} #{$portrait} {
			height:calc(90vh - 44px);
		}
		@media #{$respond} {
			padding:$padding;
		}
	}
	&.max {
		padding:$padding-large $padding;
		@media #{$respond} {
			padding:$padding;
		}
	}
}