.breadcrumb {
	font-size:0;
	a {
		font-size:1rem;
		font-weight:700;
		& + a {
			margin-left: 0.5em;
			&:before {
				margin-right: 0.5em;
				content: "/";
			}
		}
		&:last-child {
			color:invert($primary);
			&:before {
				color:$body-color;
			}
		}
		@include hover {
			color:rgba($body-color, 0.5);
		}
	}
}