.content-card {

	background:color("white");
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

	figure {
		position: relative;
		min-height:1%; // IE Sucks
		figcaption {
			position: absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			@include gradient(rgba(black, 0), rgba(black, 0.75));
			padding: $padding;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			pointer-events:none;
			.title {
				color: color("white");
			}
			> * {
				pointer-events:auto;
				& + * {
					margin-top:$margin-small;
				}
			}
		}
	}

	> div {
		padding:$padding;
		&:first-of-type {
			border-top:5px solid invert($primary);
			margin-bottom:auto;
		}
		& + div {
			border-top:1px dotted #ccc;
		}
		&:not(.stats):not(.user) {
			* {
				display: block;
				& + * {
					margin-top:$margin-small;
				}
			}
		}	
	}

	.category {
		display: block;
		color:invert($primary);
		text-transform: uppercase;
		font-size:1em;
		font-weight:700;
		font-family: 'Raleway', sans-serif;
	}

	.title {
		font-size:1.4em;
		font-weight:700;
		font-family: 'Raleway', sans-serif;
		color:color("black");
		@include hover {
			color:complement($primary);
		}		
	}

	date {
		font-size:0.75em;
	}

	date,p {
		color:grey;
	}

	.user {
		display: flex;
		align-items: center;
		.avatar {
			margin-right:$margin;
			img {
				width:50px;
				border-radius:3px;
			}
		}
		.name_title {

			span {
				display: block;
				color:color("black");
				&:last-child {
					color:grey;
					margin-top:0.5em;
					font-size:0.75em;
				}
			}
		}
	}	

	.stats {
		display: flex;
		align-items: center;
		a {			
			color:grey;
			font-size:0.75em;
			& + a {
				margin-left:1em;
			}
			&:last-child {
				margin-left:auto;
			}
			&.active {
				color:complement($primary);
			}
			&:before {
				font-size:1.4em;
			}
		}
	}	

	.button {
		width:100%;
		text-align: center;
		color:color("white");
		background: invert($primary);
		@include hover {
			background:#ccc;
		}
	}
}

/* USAGE

	<div class="u-4-12 m-12-12 content-card">
		<figure>
			<a href="#"><img src="/images/card-placeholder.jpg" width="100%" height="auto"></a>
		</figure>
		<div>
			<span class="category">Category</span>
			<h2 class="title"><a href="#">Top 100 Digital Agencies 2017: The state of the industry</a></h2>
			<date>28th February</date>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>							
		</div>
		<div><a href="#" class="button button-rounded">Read More</a></div>
	</div>
	<div class="u-4-12 m-12-12 content-card">
		<figure>
			<a href="#"><img src="/images/card-placeholder.jpg" width="100%" height="auto"></a>
		</figure>
		<div>
			<date>28th February</date>
			<h2 class="title"><a href="#">Top 100 Digital Agencies 2017: The state of the industry</a></h2>							
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>							
		</div>
		<div class="user">
			<a href="#" class="avatar"><img src="/images/avatar.jpg" width="50" height="50"></a>
			<div class="name_title">
				<span>Mark Wigglesworth</span>
				<span>Senior Web Developer</span>
			</div>
		</div>						
	</div>
	<div class="u-4-12 m-12-12 content-card">
		<figure>
			<a href="#"><img src="/images/card-placeholder.jpg" width="100%" height="auto"></a>
			<figcaption>
				<span class="category">Category</span>
				<h2 class="title"><a href="#">Revenue and Profit Rise at Google, but Mobile Struggles Continue</a></h2>
			</figcaption>							
		</figure>
		<div>
			<date>28th February</date>
		</div>
		<div class="user">
			<a href="#" class="avatar"><img src="/images/avatar.jpg" width="50" height="50"></a>
			<div class="name_title">
				<span>Mark Wigglesworth</span>
				<span>Senior Web Developer</span>
			</div>
		</div>							
		<div><a href="#" class="button button-rounded">Read More</a></div>
		<div class="stats">
			<a class="icon-ui-eye">69</a>
			<a class="icon-ui-heart">23</a>
			<a class="icon-ui-comment">2</a>
			<a class="icon-ui-star active"></a>
		</div>
	</div>

*/
