.content-card {
	background:color("white");
	display: flex;
	flex-direction: column;
	> div {
		& + div {
			border-top:1px dotted #ccc;
		}
	}
	.meta {
		padding:$padding;
		margin-bottom:auto;
		* {
			line-height:1.2;
			display: block;
			& + * {
				margin-top:0.75em;
			}
		}
		h2 {
			font-weight:700;
			a {
				color:inherit;
			}
		}

		date {
			font-size:0.75em;
		}
	}

	.user {
		
		display: flex;
		align-items: center;
		padding:$padding;
	
		.avatar {
			margin-right:$margin;
			img {
				width:50px;
				border-radius:3px;
			}
		}
		.name_title {
			span {
				display: block;
				&:last-child {
					margin-top:0.5em;
					font-size:0.75em;
				}
			}
		}
	}

	.read-more {
		padding:$padding;

		.button {
			width:100%;
			text-align: center;
			color:#fff;
			background:black;
			@include hover {
				background:#ccc;
			}
		}
	}
}