.hero {
	background:darken($primary, 8%) url('') no-repeat center center;
	background-position: center center;
	background-size:cover;
	.inner {
		padding:$padding-extra-large;
		.content {
			text-align:center;			
			max-width:$width;
			width:100%;
			margin:auto;
			> * + * {
				margin-top:$margin-medium;
			}
			@media #{$default} {
				&.align-left {
					text-align:left;
					* {
						max-width:50%;
					}					
				}
				&.align-right {
					text-align:right;
					* {
						max-width:50%;
						margin-left:auto;
					}					
				}
			}	

			/* default styles (overide)	*/
			color:#fff;
			h1 {
				font-family: 'Oswald';
				font-size:4em;
				@media #{$respond} {
					font-size:3em;	
				}
				font-weight:700;
				text-transform: uppercase;
			}				
		}
	}
}

.heros {
	opacity:0;
	transition: opacity $speed ease-in-out;
	&.active {
		opacity: 1;
	}
	.slides {
		display: flex;
		.hero {
			display: flex !important;
			@media #{$respond} {
				height:calc(100vh - 129px);	// 100% minus header and slide nav
			}
			.inner {
				display: flex;
				align-items: center;
				width:100%;
				margin:0;
				.content {
					@extend .animated;
					animation-name:fadeOut;
				}				
			}

			&.flex-active-slide {
				.inner {
					.content {
						animation-delay:0.5s;
						animation-name:fadeInUp;
						@media #{$default} {
							&.align-left {
								animation-name: fadeInLeft;
							}
							&.align-right {
								animation-name: fadeInRight;
							}								
						}						
					}
				}
			}
		}
	}
}