.hero {
	background:darken($primary, 5%) url() no-repeat center center;
	background-position: center center;
	background-size:cover;
	.inner {
		padding:$padding-extra-large;
		.content {
			text-align:center;			
			max-width:$width;
			width:100%;
			margin:auto;
			> * + * {
				margin-top:$margin-medium;
			}
			@media #{$default} {
				&.align-left {
					text-align:left;
				}
				&.align-right {
					text-align:right;
				}
			}	

			/* default styles (overide)	*/
			color:#fff;
			h1 {
				font-family: 'Oswald';
				font-size:6em;
				@media #{$respond} {
					font-size:3em;	
				}
				font-weight:700;
				text-transform: uppercase;
			}				
		}
	}
}

.heros {
	.slides {
		display: flex;
		.hero {
			display: flex !important;
			@media #{$respond} {
				height:calc(100vh - 129px);	// 100% minus header and slide nav
			}
			.inner {
				display: flex;
				align-items: center;
				width:100%;
				margin:0;				
			}
		}
	}
}