.legal {
	background:darken($primary, 15%);
	padding:$padding-small $padding;
	color:color("white");
	> div {
		max-width: $width;
		margin:auto;
		display: flex;
		justify-content: space-between;
		p {
			a {
				color:inherit;
				text-decoration: none;
				@include hover {
					text-decoration: underline;
				}
				& + a {
					margin-left:$margin;
				}
			}
		}
		@media #{$respond} {
			flex-direction: column;
			text-align: center;	
		}
	}
}