.map {
	height:400px;
	@media #{$respond} {
		height:300px;
	}
}

.gm-style-iw {
	color:#000;
}

/* USAGE 

		<div class="map" id="map" 
		data-api-key="AIzaSyCWg6EsSlK-EmCdimmWNodJr4adyFK_uAM" 
		data-longitude="51.5078521" 
		data-latitude="-0.1439478" 
		data-desktop-zoom="12" 
		data-tablet-zoom="14" 
		data-mobile-zoom="12" 
		data-info="<p><strong>Dublin, Ireland</strong></p><p>South County Business Park<br/>Leopardstown<br/>Dublin<br/>D18 T9P8</p>" 
		data-pin="/images/icons/pin.png"></div>

*/