#notify {
	position: fixed;
	z-index: 101;

	left: 0;
	right: 0;
	background: #333;
	padding:10px;
	color: #fff;
	font-size: 1em;
	line-height: 1.4em;
	text-align: center;
	animation-duration: 3s;

	&.top {
		top:0;
		transform: translateY(-100%); 
		&.show {
			animation-name: slideDown;	
		}	
	}
	&.bottom {
		bottom:0;
		transform: translateY(100%); 
		&.show {
			animation-name: slideUp;	
		}
	}	
}

@keyframes slideUp {
	0%, 100% {
		transform: translateY(100%); 
	}
	10%, 90% {
		transform: translateY(0);
	}
}

@keyframes slideDown {
	0%, 100% {
		transform: translateY(-100%); 
	}
	10%, 90% {
		transform: translateY(0);
	}
}



// @keyframes slideUp {
// 	0%, 100% {
// 		transform: translateY(0px); 
// 	}
// 	10%, 90% {
// 		transform: translateY(-100%);
// 	}
// }


// @keyframes slideDown {
// 	0%, 100% {
// 		transform: translateY(0px); 
// 	}
// 	10%, 90% {
// 		transform: translateY(100%);
// 	}
// }

/* USAGE */

/*

<a class="button notify" data-notify="Text goes here" data-position="top" data-color="black">Clikc me</a>

*/