
/***********************************
DEFAULT STYLES TO DEMO THE FRAMEWORK

Someday, sometime, someplace, merge these styles into seperate components or modules
***********************************/

#menu {
	display:none;
	&:checked {
		@media #{$respond} {
			& ~ main, & ~ footer, & ~ header nav.infinity {
				transform: translate3d(-265px, 0, 0);
			}
		}
	}
}

header {	
	background:darken($primary, 10%); 
	@media #{$respond} {
		height:55px;
		background:darken($primary, 10%);
		position:fixed;
		top:0;
		left:0;
		right:0;
		z-index:2;
		label {
			position: absolute;
			width: 55px;
			height: 55px;
			line-height: 55px;
			right:0;
			top:0;
			border:none;
			font-size:30px;
			padding:0;
			font-family: "ui";
			background:lighten($primary, 10%);
			display:block;
			text-align: center;
			&:before {
				content: '\e806';
				color:#fff;
			}
			@include hover {
				background:lighten($primary, 30%);
			}
			@at-root #menu:checked + header label {
				&:before {
					content: '\e805';
				}
			}						
		}
	}
}

@import "../partials/components/macro/_squishy-header.scss";
@import "../partials/components/macro/_infinity-nav.scss";

html {
	font-size:$size;
	height:100%;
}

body {
	font-size:100%;
	font-family:Arial;
}

html, body {
	background:darken($primary, 20%);
	@media #{$respond} {
		font-size:$mobile-size;
	}	
}

main {
	background:$primary;
	@media #{$respond} {
		margin-top:55px;
		transition:all $speed ease-in-out;
	}	
}

footer {
	background:darken($primary, 10%);
	@media #{$respond} {
		transition:all $speed ease-in-out;
	}
}

section {
	&.max {
		padding:$padding-large $padding;
		> * {
			margin:auto;
			max-width: $width;				
		}
		@media #{$respond} {
			padding:$padding;
		}
	}
}

.component-row {	
	& + .component-row {
		margin-top:$margin;
	}

	> h1 {
		color:white;
		font-size:2em;
		border-bottom:1px solid white;
		padding-bottom: $padding;
		margin-bottom: $margin;
		+ p {
			margin-bottom:$margin;
			color:color("white");
		}
	}

	.form-elements h2 {
		color:white;
		margin-bottom: $margin;
	}
}

.button + .button {
	margin:0 0 0 $margin-small;
	@media #{$respond} {
		margin: $margin-small 0 0 0;
	}
}

.demo {
	[class^="row"] {
		> * {		
			min-height:100px;
			background:#fff;
			line-height: 100px;
			text-align:center;
			align-content:center;
			justify-content: center;
			overflow:hidden;
			&:before {content:"?";}
			@media #{$mobile} {&:before {content:"mobile";}}
			@media #{$tablet} {&:before {content:"tablet";}}
			@media #{$desktop} {&:before {content:"desktop";}}
			@media #{$mobile} #{$portrait} {&:before {content:"mobile portrait";}}
			@media #{$device} #{$landscape} {&:before {content:"device landscape";}}
			@media #{$tablet} #{$portrait} {&:before {content:"tablet portrait";}}
			@media #{$tablet} #{$landscape} {&:before {content:"tablet landscape";}}
		}

	}
}