#menu {
	display:none;
	&:checked {
		@media #{$respond} {
			& ~ main, & ~ footer, & ~ header nav.infinity {
				transform: translate3d(-265px, 0, 0);
			}
		}
	}
}

header {	
	background:darken($primary, 10%);
	@media #{$respond} {
		height:55px;
		background:darken($primary, 10%);
		position:fixed;
		top:0;
		left:0;
		right:0;
		z-index:2;
		label {
			position: absolute;
			width: 55px;
			height: 55px;
			line-height: 55px;
			right:0;
			top:0;
			border:none;
			font-size:30px;
			padding:0;
			font-family: "ui";
			background:lighten($primary, 10%);
			display:block;
			text-align: center;
			&:before {
				content: '\e804';
				color:#fff;
			}
			@at-root #menu:checked + header label {
				&:before {
					content: '\e803';
				}
			}						
		}
	}
}

@import "../partials/components/structural/_squishy-header.scss";
@import "../partials/components/structural/_infinity-nav.scss";

html {
	font-size:$size;
	height:100%;
}

body {
	font-size:100%;
	font-family:Arial;
}

html, body {
	background:$primary;
	@media #{$respond} {
		font-size:$mobile-size;
	}	
}

main {
	@media #{$respond} {
		margin-top:55px;
		transition:all $speed ease-in-out;
	}	
}

footer {
	height:100px;
	background:darken($primary, 10%);
	@media #{$respond} {
		transition:all $speed ease-in-out;
	}
}

section {
	&.full {
		padding:$padding-large;
		height:calc(80vh - 44px);
		display:flex;
		justify-content: center;
		align-items:center;
		@media #{$tablet} #{$portrait} {
			height:calc(90vh - 44px);
		}
		@media #{$respond} {
			padding:$padding;
		}
	}
	&.max {
		padding:$padding-large $padding;
		@media #{$respond} {
			padding:$padding;
		}
	}
}

.component-row {
	margin:auto;
	max-width: $width;		
	& + .component-row {
		margin-top:$margin;
	}

	h1 {
		color:white;
		font-size:2em;
		border-bottom:1px solid white;
		padding-bottom: $padding;
		margin-bottom: $margin;
	}
}

.button + .button {
	margin:0 0 0 $margin-small;
	@media #{$respond} {
		margin: $margin-small 0 0 0;
	}
}

[class^="row"] {
	> * {		
		min-height:100px;
		background:#fff;
		text-align:center;
		align-content:center;
		justify-content: center;
		overflow:hidden;
		&:before {content:"?";}
		@media #{$mobile} {&:before {content:"mobile";}}
		@media #{$tablet} {&:before {content:"tablet";}}
		@media #{$desktop} {&:before {content:"desktop";}}
		@media #{$mobile} #{$portrait} {&:before {content:"mobile portrait";}}
		@media #{$device} #{$landscape} {&:before {content:"device landscape";}}
		@media #{$tablet} #{$portrait} {&:before {content:"tablet portrait";}}
		@media #{$tablet} #{$landscape} {&:before {content:"tablet landscape";}}
	}
}