$height: 125px;

@media #{$default} {
	.squishy {		
		width:100%;				
		z-index: 2;
		position:fixed;
		top:0;
		> div {
			max-width: $width + $padding*2;
			height:20vh;
			transition: all $speed linear;
			padding:$padding;
			margin:auto;
			display: flex;
			align-items: center;			
			> a:first-child {
				margin-right:auto;
				font-family: 'Oswald';
				font-size:60px;
				transition: all $speed linear;
				text-decoration: none;
				color:#fff;
			}	
			nav {
				a {
					color:color("white");
					text-decoration: none;
					& + a {
						margin-left:$margin-small;
					}
				}
			}
		}
		&.squish {			
			> div {
				height:10vh;
				> a:first-child {
					font-size:20px;
				}
			}
		}
		& + * {
			margin-top:20vh;
		}
	}
}

@media #{$respond} {
	.squishy {
		> div {
			padding:$padding;
			> a:first-child {
				font-family: 'Oswald';
				font-size:1.8em;
				text-decoration: none;
				color:#fff;
			}
			nav {
				display: none;
			}
		}
	}
}