$height: 125px;

@media #{$default} {

	.squishy {
		position:fixed;
		top:0;
		width:100%;
		height:$height;
		padding:$padding;
		transition: all $speed linear;
		z-index:2;
		display: flex;
		align-items: center;
		&.squish {
			height:74px;
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
		}
		nav {
			width:100%;
			max-width:$width;
			margin:auto;
			display: flex;
			align-items: center;			
			.logo {
				margin-right:auto;
				padding:$padding;
				color:color("white");
				background:rgba(color("white"), 0.5);
				border-radius:15px;
			}
			menu {
				a {
					color:color("white");
					& + a {
						margin-left:$margin-small;
					}
				}
			}
		}
		& + * {
			margin-top:$height;
		}
	}	

}
