$colors: (
	"red":		#E61D2B,
	"blue":		#0683C9,
	"cyan":		#276f89,
	"orange":	#ed6c4c,
	"karki":	#a4a999,	
	"beige":	#ededea,
	"spruce":	#324647,
	"black":	#1f2222,
	"white":	#ffffff,
);

$primary:color("blue");

/* background colours */
@each $name, $hex in $colors {
	.#{$name} {
		background-color:#{$hex} !important;
	}
	.color-#{$name} {
		color:#{$hex} !important;
	}
}

$body-color:set-contrast-color($primary);